#aboutme{
    text-align: center;
}
.aboutme-section-description {
    text-align: justify;
    margin-top: 40px;
}
.aboutme-icons{
    font-size: 25px;
    margin-top: 45px;
    margin-bottom: 45px;
}
.aboutme-icons > a{
    text-decoration: none;
}
.aboutme-icon{
    margin: 10px;
    color: var(--titlesectionSecondaryColor);
}
.aboutme-icon:hover{
    cursor: pointer;
    color: var(--titlesectioncolour2);
}
.aboutme-download > a{
    color: var(--titlesectioncolour2);
}