:root{
    --titlesectionPrimaryColor: rgb(255, 255, 255);
    --titlesectionSecondaryColor: rgb(82, 154, 176);
}

#title {
    color: var(--titlesectionPrimaryColor);
    text-align: center;
    padding-top: 200px;
    background-image: url(../Images/blue-4696630.jpg);
    background-position: center top;
}

.title-section-button{
    color: var(--titlesectionPrimaryColor);
    border: solid var(--titlesectionPrimaryColor) 1px;
    border-radius: 5px;
    padding: 15px 20px;
    background-color: transparent;
}

.title-section-button:hover{
    background-color: var(--titlesectionPrimaryColor);
    color: var(--titlesectionSecondaryColor);
    cursor: pointer;
    font-size: 20px;
}