h1{
        color: blueviolet;
    }
    button:hover{
        background-color: darkslategrey;
        cursor: pointer;
        font-size: 20px;
    }
    #title {
        font-size: 20px;
        text-align: center;
    }