h1{
        color: blueviolet;
    }
    button:hover{
        background-color: darkslategrey;
        cursor: pointer;
        font-size: 20px;
    }
    #title {
        width: 100%;
        font-size: 20px;
        text-align: center;
        margin-top: 50px;
    }